/*
=================================================
GLOBAL
=================================================
*/
body{
  font-family: "Poppins", sans-serif;
}
h1 a{
  text-decoration:none;
  font-weight:700;
}

.gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  .gif-container img {
    max-height: 100%;
    max-width: 100%;
  }
  .controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  #pause_logo{
    opacity:.3;
  }

